.app-footer[b-onwem4b8rh] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1e2a38;
    color: white;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-links a[b-onwem4b8rh] {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

    .footer-links a:hover[b-onwem4b8rh] {
        text-decoration: underline;
    }
